<div id="building-list" ng-controller="BuildingListCtrl" ng-if="viewMode == 'list'">
  <h1>Showing {{ buildings.length }} buildings.</h1>
  <div ng-repeat="building in buildings track by $index"
       class="building"
       ng-controller="BuildingCtrl"
       ng-class="buildingClassFor()"
       ng-mouseenter="highlightBuilding()"
       ng-mouseleave="unhighlightBuilding()"
       ng-click="showBuilding()"
       id="building-{{building.id}}">
    <div class="pull-left">
      <h3><a href="/buildings/{{ building.id }}" target="_blank">{{ building.name }}</a></h3>
      <p>
        {{ building.street_address }}<br>{{ building.city }}, {{ building.state }}
      </p>
      <p ng-if="hasYears || hasArchitects">
        <span ng-if="hasYears">{{ yearBuilt }} {{ yearDemolished }}</span>
        <span ng-if="hasYears && hasArchitects"> &bull; </span>
        <span ng-if="hasArchitects">Architects: {{ architectNames }}</span></span>
      </p>

      <div ng-repeat="year in [1900, 1910, 1920, 1930]">
        <div ng-if="building.census_records[year].length">
          <h5>{{ year }} Residents</h5>
          <table class="table table-condensed" style="min-width:600px">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Race</th>
                <th>Sex</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="person in building.census_records[year]">
                <td><a href="/census/{{year}}/{{person.id}}" target="_blank">{{ person.name }}</a></td>
                <td>{{ person.age }}</td>
                <td>{{ person.race }}</td>
                <td>{{ person.sex }}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
    <div class="pull-right" ng-if="building.photo">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source ng-srcset="/photos/{{building.photo}}/15/phone.jpg" media="(max-width:480px)">
      <source ng-srcset="/photos/{{building.photo}}/15/tablet.jpg" media="(min-width:481px) and (max-width:1024px)">
      <source ng-srcset="/photos/{{building.photo}}/15/desktop.jpg" media="(min-width:1025px)">
      <!--[if IE 9]></video><![endif]-->
      <img src class="img-responsive img-thumbnail">
      </picture>
    </div>
    <div class="clear"></div>
  </div>
</div>
