<div class="map-wrap" ng-controller="ForgeMapCtrl">
  <ng-map data-map-type-control="true"
          data-street-view-control="true"
          data-tap-disabled="true"
          data-styles="[{ featureType: 'poi', elementType: 'labels', stylers: [{ visibility: 'off' }]}]"
          center="[<%= AppConfig.latitude %>,<%= AppConfig.longitude %>]">
  </ng-map>

  <div id="forge-right-col">
    <h3>Map Layers</h3>
    <div ng-repeat="layer in layers" id="layer{{ layer.id }}" class="layer">
      <input type="checkbox" ng-model="selectedLayers[layer.id]" id="layer-cb{{ layer.id }}" ng-click="toggleLayer(layer.id)" />
      <label for="layer-cb{{ layer.id }}">{{ layer.name }}</label>
      <div class="layer-slider" ng-if="!!selectedLayers[layer.id]">
        <div class="ui-slider-handle"></div>
      </div>
    </div>
    <hr />

    <div ng-if="!currentBuilding">Click on a dot to see who lived there.</div>
    <div id="building-details" ng-if="currentBuilding">
      <a href="/buildings/{{ currentBuilding.id }}" target="_blank" class="float-right">
        <i class="fa fa-external-link"></i>
      </a>
      <h5>
        {{ currentBuilding.name }}
      </h5>
      <div ng-if="currentBuilding.photo">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source ng-srcset="/photos/{{currentBuilding.photo}}/15/phone.jpg" media="(max-width:480px)">
          <source ng-srcset="/photos/{{currentBuilding.photo}}/15/tablet.jpg" media="(min-width:481px) and (max-width:1024px)">
          <source ng-srcset="/photos/{{currentBuilding.photo}}/15/desktop.jpg" media="(min-width:1025px)">
          <!--[if IE 9]></video><![endif]-->
          <img src class="img-responsive img-thumbnail">
        </picture>
      </div>
      <div>
        <p>{{ currentBuilding.street_address }}<br>{{ currentBuilding.city }}, {{ currentBuilding.state }}</p>
      </div>
      <div>
        <table class="table table-condensed">
          <thead>
          <tr>
            <th>Year</th>
            <th>Name</th>
            <th>Age</th>
            <th>Race</th>
            <th>Sex</th>
          </tr>
          </thead>
          <tbody ng-repeat="year in [1900, 1910, 1920, 1930]">
          <tr ng-repeat="person in currentBuilding.census_records[year]">
            <td>{{ year }}</td>
            <td><a href="/census/{{year}}/{{person.id}}" target="_blank">{{ person.name }}</a></td>
            <td>{{ person.age }}</td>
            <td>{{ person.race }}</td>
            <td>{{ person.sex }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

