<h2>About</h2>

<h3>About HistoryForge</h3>
<p>Sponsored by The History Center in Tompkins County, New York, HistoryForge is a system that local historical societies can use as a virtual map library. Other features coming soon.</p>
<p>In technical terms, it is built on Ruby on Rails using the open source MapWarper project as a starting point. The idea has been to remove "extra" features such as public user signup, oauth, groups, and to update the user interface in preparation for adding additional features.</p>
<h4>Who done it?</h4>
<p>
  David Furber <br>
  GitHub: <a href="https://github.com/dfurber">dfurber</a><br>
  The project on GitHub: <a href="https://github.com/dfurber/mapwarper">dfurber/github</a>
</p>

<h3>About MapWarper</h3>
<p>
  Inspired by Metacarta's Map Rectifier, this is an open source map warping / geo rectifying service,
  written in Ruby and Rails. I've customised it with the OpenStreetMap project in mind.
  It's MIT licenced, so you can play with it if you want too!.
</p>

<p>Libraries and other institutions have used it, including the <a href="http://maps.nypl.org/">New York Public Library</a>, Harvard and Stanford Universities. </p>

<h4>Who done it? </h4>
<p>
  Tim Waters <br />
  tim@geothings.net <br />
  blog: <a href="http://thinkwhere.wordpress.com">http://thinkwhere.wordpress.com</a>
</p>

<p>Supported by EntropyFree, Topomancy LLC and the <a href="http://nypl.org/">New York Public Library</a> </p>
