<% provide_cms_with :person_finder do %>
<h2>Find a person</h2>
<p><input type="search" id="search-people-input" placeholder="Type a name here" class="form-control" /></p>
<% end %>

<% provide_cms_with :person_results do %>
<div id="search-people-results"></div>
<% end %>

<% provide_cms_with :home_finder do %>
<h2>Find your house</h2>
<p><input type="search" id="search-buildings-input" placeholder="Type an address here" class="form-control" /></p>
<% end %>

<% provide_cms_with :home_results do %>
<div id="search-buildings-results"></div>
<% end %>
