<div class="map-wrap" ng-controller="MiniMapCtrl">
  <ng-map center="[<%= @building.lat -%>, <%= @building.lon -%>]"
          zoom="18"
          data-styles="[{ featureType: 'poi', elementType: 'labels', stylers: [{ visibility: 'off' }]}]"
          data-map-type-control="true"
          data-street-view-control="true"
          data-tap-disabled="true">

    <marker position="<%= @building.lat -%>, <%= @building.lon -%>"
            z-index="300"
            icon="{{ thisMarkerIcon }}"
             <%- if can?(:update, @building) -%>
            draggable="true"
            on-dragend="moveBuilding(event)"
            <% end -%>></marker>

    <marker ng-repeat="item in buildings track by $index"
            position="{{item.data.attributes.latitude}}, {{item.data.attributes.longitude}}"
            z-index="{{ zIndexFor(item.data.attributes.id) }}"
            icon="{{ markerIcon(item.data.attributes.id) }}"
            on-mouseover="highlightBuilding(item.data.attributes.id)"
            on-click="showBuilding(item.data.attributes.id)"
            ng-if="item.data.attributes.latitude"></marker>

    <div id="layer-slider" ng-show="layer"><div class="ui-slider-handle"> </div> </div>

  </ng-map>
</div>

<div ng-controller="MiniBuildingListCtrl">
  <h4>Nearby Buildings</h4>
  <div ng-repeat="building in buildings track by $index"
       class="building {{ buildingClass }}"
       ng-controller="MiniBuildingCtrl"
       ng-mouseenter="highlightBuilding()"
       ng-mouseleave="unhighlightBuilding()"
       ng-click="showBuilding()"
       id="building-{{building.data.id}}">
    <div class="pull-left">
      <p>
        <a href="/buildings/{{ building.data.id }}" target="_blank">{{ building.data.attributes.name }}</a><br>
        <span ng-if="building.data.attributes.name !== building.data.attributes.street_address">
          {{ building.data.attributes.street_address }}<br>
        </span>
        {{ building.data.attributes.city }}, {{ building.data.attributes.state }}
      </p>
      <p ng-if="hasYears || hasArchitects">
        <span ng-if="hasYears">{{ yearBuilt }} {{ yearDemolished }}</span>
        <span ng-if="hasYears && hasArchitects"> &bull; </span>
        <span ng-if="hasArchitects">Architects: {{ architectNames }}</span></span>
      </p>
    </div>
    <div class="float-right" ng-if="building.photo">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source ng-srcset="/photos/{{building.photo}}/5/phone.jpg" media="(max-width:480px)">
      <source ng-srcset="/photos/{{building.photo}}/5/tablet.jpg" media="(min-width:481px) and (max-width:1024px)">
      <source ng-srcset="/photos/{{building.photo}}/5/desktop.jpg" media="(min-width:1025px)">
      <!--[if IE 9]></video><![endif]-->
      <img src class="img-responsive img-thumbnail">
      </picture>
    </div>
    <div class="clear"></div>
  </div>
</div>
