<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Time</th>
    <th>User</th>
    <th></th>
    <th>Activity Summary</th>
    <th>Version</th>

    <th></th>
  </tr>
</thead>
<tbody>
  <%= render :partial => "audit", :collection => @audits unless @audits.nil? %>
</tbody>
</table>
