- content_for :pills do
  = link_to 'Back to menu', cms_menu_path(@menu), class: 'btn btn-default'

= form.input :title, as: :string
= form.input :url, as: :string, hint: 'You can leave out the beginning slash.'
= form.input :enabled, as: :boolean, inline_label: 'Show this menu item on the menu?', label: false
= form.input :show_as_expanded, as: :boolean, inline_label: 'If this menu item has children, should they be in a dropdown?', label: false
= form.input :css_class, as: :string, label: 'CSS Class'
= form.input :css_id, as: :string, label: 'CSS Id'
= form.input :access_callback, as: :string, hint: 'Rails view helper method to call to decide whether to show this menu item.'
= form.input :active_callback, as: :string, hint: 'Rails view helper method to decide whether this menu item is active. Defaults to current_page?. This method receives the menu item URL as its argument.'
= form.input :theme_callback, as: :string, hint: 'Rails view helper method to call to output this menu item. Default is at the menu level. Receives the menu item as its argument.'

.form-actions
  = form.submit 'Submit', class: 'btn btn-lg btn-primary'
  =< link_to 'Cancel', cms_menu_path(@menu), class: 'btn btn-lg btn-warning'