ng-map {
  width: 100%;
  height: 100% !important;
}

.map-wrap {
  // height: 100%;
  position: absolute;
  left:0px;
  top:50px;
  // right:30%;
  width:70%;
  bottom:0px;
  .agency-map & {
    top: 0px;
  }
}

#forge-right-col {
  position:absolute;
  top:50px;
  width:30%;
  right:0px;
  bottom:0px;
  background-color:white;

  .highlighted {
    color: white;
    background: #333;
    border:none;
  }

  #building-list {
    position:absolute;
    top:200px;
    bottom:0;
    overflow-y:auto;
  }

}
