nav.navbar.navbar-static {
  position:fixed;
  top:0;
  left:0;
  height:50px;
  width:100%;
  z-index:200;
}

#warper-maindiv {
  margin-top:80px;
}

ng-map {
  width: 100%;
  height: 100% !important;
}

#forge-right-col {
  position:fixed;
  top:80px;
  right:20px;
  width:30%;
  padding-top:15px;
  padding-bottom:15px;
  background-color:rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  box-shadow: 4px 4px 4px #888;
  .btn-group {
    margin-bottom:12px;
  }
}

#building-iw {
  position: fixed;
  left: 50%;
  top: 25%;
  margin-left: -350px;
  width:700px;
  font-size: 12px;
  padding:15px;
  background-color:rgba(255, 255, 255, 0.95);
  border-radius: 6px;
  box-shadow: 4px 4px 4px #888;
  button.close {
    position: absolute;
    right: 15px;
    top: 5px;
  }
}

#layer-pickers {
  position:absolute;
  bottom:0;
  left:10%;
  right:10%;
  width:80%;
  height:100px;
  z-index:120;
  padding:15px;
  background-color:rgba(255, 255, 255, 0.7);
  border-radius: 6px 6px 0 0;
  box-shadow: 4px 4px 4px #888;
}

#layer-slider {
}

#miniforge {
  position:relative;
  .map-wrap {
    width:100%;
    height:400px;
    margin-bottom:30px;
  }
  .highlighted {
    border:none;
    background: #ffffff;
  }
  .building {
    padding:5px;
  }
  [ng-controller=MiniBuildingCtrl] {
    p {
      margin-top:0;
    }
  }
  #layer-slider {
    position:absolute;
    top:350px;
    left:5%;
    right:15%;
    width:80%;
    z-index:120;
  }
}
.map {
  .map-wrap {
    position: absolute;
    left:0px;
    top:50px;
    width:100%;
    bottom:0px;
  }
  #forge-right-col {
    cursor: move;
  }
}

.list {

  .map-wrap {
    position: fixed;
    width: 30%;
    height:300px;
    right:20px;
    bottom:20px;
  }

  #building-list {
    width:66%;
  }

  .highlighted {
    border:none;
    background: #f7f7f7;
  }

  .building {
    padding:10px;
    border-bottom:1px solid #ccc;
    &:last-child {
      border-bottom:none;
    }
  }
}

.gm-style-iw {
  div.row {
    margin-left:0;
    margin-right:0;
    & > div:first-child {
      padding-left:0;
    }
    & > div:last-child {
      padding-right:0;
    }
  }
}
