.clear {
  clear:both;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background:$blue;
  border-radius:0;
  border:none;
  .navbar-brand {
    color: white;
  }
  .navbar-nav > li > a {
    color:white;
  }
}

dl {
  overflow:hidden;
  dt {
    float:left;
    width:150px;
  }
  dd {
    margin-left:160px;
  }
}

p {
  margin:1em 0;
}

.boolean, .check_boxes {
  label.check_boxes {
    font-weight: bold;
  }
  label.control-label {
    display:none;
  }
  label {
    font-weight:normal;
    float:none;
    display:inline;
    vertical-align: middle;
  }
  input[type=checkbox] {
    width:auto;
    vertical-align: middle;
    display:inline;
    padding:6px 12px;
    margin-right:8px;
    position:static;
    margin-top:0;
  }
}

.check_boxes {
  span.checkbox {
    margin-top:0;
    margin-bottom:0;
  }
}

.radio_buttons {
  input[type=radio] {
    width:auto;
    vertical-align: middle;
    display:inline;
    padding:6px 12px;
    position:static;
    margin-right:8px;
    margin-top:0;
  }
  label.control-label {
    float:none;
    width:auto;
  }
}

div.date {
  label {
    display:block;
  }
  select {
    width: auto;
    display:inline-block;
  }
}

.photo {
  border-bottom: 1px solid #cccccc;
  margin-bottom:0.5em;
  &:last-child {
    border-bottom: none;
    margin-bottom:0;
  }
}

#search-pagination-top {
  display:inline-block;
  vertical-align: middle;
  margin-right:15px;
  margin-top:4px;
  ul {
    margin:0;
  }
}

#sort-filters {
  label {
    display:block;
    float:none;
  }
}
.value-input-container {
  display:inline;
}
.value-input-container.checkboxes {
  display:block;
  // max-height:200px;
  overflow:auto;
  column-gap: 10px;
  -webkit-column-gap: 10px;
  vertical-align:top;
  label.checkbox {
    padding-left:20px;
    margin-top:0;
    margin-bottom:0;
    font-weight:normal;
  }

  &.column-count-2 {
    column-count: 2;
  }
  &.column-count-3 {
    column-count: 3;
  }
  &.column-count-4 {
    column-count: 4;
  }
}

#buildings-filters, #census-records-filters {
  margin-left:15px;
  width:250px;
  float:left;
}

#buildings, #census-records {
  margin-left:300px;
  margin-right:15px;
  font-size:11px;
  h1 {
    margin-top:0;
  }
  td {
    //white-space: nowrap;
    min-width:50px;
    max-width:300px;
    p:first-child {
      margin-top:0;
    }
    p:last-child {
      margin-bottom:0;
    }
  }
  table {
    margin-top:1em;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    width:auto;
  }
  th {
    border-top:1px solid #ccc;
  }
  th, td {
    border-left:1px solid #ccc;
  }
}

.check_boxes {
  span.checkbox {
    margin-top:0;
    margin-bottom:0;
  }
}

.boolean, .radio_buttons, .check_boxes {
  input[type=radio],
  input[type=checkbox] {
    width:auto;
    vertical-align: middle;
    display:inline;
    padding:6px 12px;
    position:static;
    margin-right:8px;
    margin-top:0;
    border:none;
    box-shadow:none;
  }
  span.radio, span.checkbox {
    margin-right:20px;
    label.control-label {
      float:none;
      width:auto;
    }
  }
}

form table {
  th, td {
    vertical-align: top;
  }
}
