html, body {
  height: 100%;
}

.clear {
  clear:both;
}

.navbar {
  margin-bottom: 0px;

  & + .container-fluid {
    margin-top: 80px;
    height: calc(100% - 80px);
  }
}

.btn + .btn {
  margin-left: 8px;
}

dl {
  overflow:hidden;
  dt {
    float:left;
    width:150px;
  }
  dd {
    margin-left:160px;
  }
}

p {
  margin:1em 0;
}

.boolean, .check_boxes {
  label.check_boxes {
    font-weight: bold;
  }
  label.control-label {
    display:none;
  }
  label {
    font-weight:normal;
    float:none;
    display:inline;
    vertical-align: middle;
  }
  input[type=checkbox] {
    width:auto;
    vertical-align: middle;
    display:inline;
    padding:6px 12px;
    margin-right:8px;
    position:static;
    margin-top:0;
  }
}

.check_boxes {
  span.checkbox {
    margin-top:0;
    margin-bottom:0;
  }
}

.radio_buttons {
  input[type=radio] {
    width:auto;
    vertical-align: middle;
    display:inline;
    padding:6px 12px;
    position:static;
    margin-right:8px;
    margin-top:0;
  }
  label.control-label {
    float:none;
    width:auto;
  }
}

div.date {
  label {
    display:block;
  }
  select {
    width: auto;
    display:inline-block;
  }
}

.photo {
  border-bottom: 1px solid #cccccc;
  margin-bottom:0.5em;
  &:last-child {
    border-bottom: none;
    margin-bottom:0;
  }
}

#search-pagination-top {
  vertical-align: middle;
  nav {
    display: inline-block;
  }
}

#sort-filters {
  label {
    display:block;
    float:none;
  }
}
.value-input-container {
  display:inline;
}
.value-input-container.checkboxes {
  display:block;
  // max-height:200px;
  overflow:auto;
  column-gap: 10px;
  -webkit-column-gap: 10px;
  vertical-align:top;
  label.checkbox {
    padding-left:20px;
    margin-top:0;
    margin-bottom:0;
    font-weight:normal;
  }

  &.column-count-2 {
    column-count: 2;
    flex: 0 0 100%;
    max-width: 100%;
  }
  &.column-count-3 {
    column-count: 3;
    flex: 0 0 100%;
    max-width: 100%;
  }
  &.column-count-4 {
    column-count: 4;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

#buildings-filters, #census-records-filters {
  .dropdown, .btn-group-toggle {
    display: inline-block;
    margin-right: 12px;
    .form-actions {
      display: flex;
    }
  }
  .btn-group-toggle {
    cursor: pointer;
  }
  .dropdown-item.checkbox {
    vertical-align: middle;
    input {
      margin-right: 10px;
    }
  }
  .dropdown .form-actions {
    padding: 15px;
    margin-top: 10px;
    border-top: 1px solid $border-color;
  }
  .dropdown {
    .close {
      float: none;
      margin-right: 6px;
    }
  }
  #sort-filters {
    display: inline;
    label, select {
      display: inline;
      width: auto;
    }
  }
}

#buildings, #census-records {
  width: 100%;
  height: calc(100% - 140px);
  font-size:11px;
  span.badge {
    margin-left: 10px;
  }
  h1 {
    margin-top:0;
  }
  td {
    //white-space: nowrap;
    min-width:50px;
    max-width:300px;
    p:first-child {
      margin-top:0;
    }
    p:last-child {
      margin-bottom:0;
    }
  }
  table {
    margin-top:1em;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    width:auto;
  }
  th {
    border-top:1px solid #ccc;
  }
  th, td {
    border-left:1px solid #ccc;
  }
}

#search-pagination-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  font-size: 14px;
}

.check_boxes {
  span.checkbox {
    margin-top:0;
    margin-bottom:0;
  }
}

.boolean, .radio_buttons, .check_boxes {
  input[type=radio],
  input[type=checkbox] {
    width:auto;
    vertical-align: middle;
    display:inline;
    padding:6px 12px;
    position:static;
    margin-right:8px;
    margin-top:0;
    border:none;
    box-shadow:none;
  }
  span.radio, span.checkbox {
    margin-right:20px;
    label.control-label {
      float:none;
      width:auto;
    }
  }
}

form table {
  th, td {
    vertical-align: top;
  }
}

.census-slider-wrapper {
  width: 100%;
  height: auto;
}
.census-slider {
  display: flex;
  transition: 1s ease flex-wrap;
  &.vertical {
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    .form-group {
      border-top: 1px solid $border-color;
    }
  }
  &.horizontal {
    flex-wrap: nowrap;
  }
  &.hidden {
    display: none;
  }
  overflow-x: scroll;
  margin: -1.125rem;
  fieldset {
    min-width: auto;
  }
  .form-group {
    //min-width: 200px;
    margin-bottom: 0;
    padding: 1.125rem;
    flex-basis: auto; /* default value */
    flex-grow: 1;
    border-right: 1px solid $border-color;
    & > label, & > legend {
      white-space: nowrap;
      display: block;
    }
    &.focused {
      &, legend {
        background-color: #f7f7f7;
      }
    }
    &.disabled {
      opacity: 0.6;
    }
    .form-check, .form-check-label {
      white-space: nowrap;
    }
    input[type=number],
    input[type=text] {
      min-width: 140px;
    }
  }
}
.census-hint-wrapper {
  position: fixed;
  left: 50%;
  z-index: 40;
  bottom: 10px;
}

.census-hint {
  position: relative;
  left: -50%;
  background-color: #f7f7f7;
  padding: 1.125rem;
  border: 2px solid $border-color;
  border-radius: 6px;
}

.form-actions {
  margin-top: 2.25rem;
  padding-top: 1.125rem;
  border-top: 1px solid $border-color;
}

[data-href] {
  cursor: pointer;
}