/*  Theme Variables  */

//$font-size-base:          16px !default;

//$icon-font-path: asset-url("glyphicons-halflings-regular.eot");

//$canvas-color: #2F2F2F;
//$canvas-font-color: #f9f9f9;
//$primary-color: #3693cf;
//$primary-font-color: #fff;
$blue: #298dcc;

$red: #981b1e;

$canvas-color: #fff;     //Can change this variable color
$canvas-font-color: #999;   //Can change this variable color
$primary-color: #3693cf;    //Can change this variable color
$primary-font-color: #fff;  //Can change this variable color

$top-bar-color: $blue;

/*  Optional Variables  Ex- Success, Error, Info, Warning  */

$goGreen: #74b749;        //Can change this variable color
$lemonYellow: #ffb400;    //Can change this variable color
$nagpurOrange: #0daed3;   //Can change this variable color
$jetBlue: #0daed3;        //Can change this variable color
$rubyRed: #f63131;        //Can change this variable color



/*  Default Black and White Colors  */

$white: #fff;               //White Color - Should not change
$black: #000;               //Black Color - Should not change



/* Theme 2  */

//$canvas-color: #000;
//$canvas-font-color: #aaaaaa;
//$primary-color: #3693cf;
//$primary-font-color: #e7f6ff;



/* Theme 3  */

/*$canvas-color: #000000;
$canvas-font-color: #f9f9f9;
$primary-color: #644436;
$primary-font-color: #fff;*/


/* Theme 4  */

/*$canvas-color: #2F2F2F;
$canvas-font-color: #f9f9f9;
$primary-color: #C15D63;
$primary-font-color: #fff;*/


/* Theme 5  */

/*$canvas-color: #111111;
$canvas-font-color: #f9f9f9;
$primary-color: #ed6d49;
$primary-font-color: #fff;*/




/* Theme 6  */

/*$canvas-color: #222222;
$canvas-font-color: #f9f9f9;
$primary-color: #4A7B6F;
$primary-font-color: #fff;*/



/* Theme 7 */

/*$canvas-color: #444041;
$canvas-font-color: #f9f9f9;
$primary-color: #E95C40;
$primary-font-color: #fff;*/



/* Theme 8  */

/*$canvas-color: #111111;
$canvas-font-color: #f9f9f9;
$primary-color: #CC0000;
$primary-font-color: #fff;*/



/* Theme 9  */

/*$canvas-color: #111111;
$canvas-font-color: #f9f9f9;
$primary-color: #41924B;
$primary-font-color: #fff;*/



/* Theme 10  */

/*$canvas-color: #333333;
$canvas-font-color: #f9f9f9;
$primary-color: #B58AA5;
$primary-font-color: #fff;*/




/* Theme 11  */

/*$canvas-color: #333333;
$canvas-font-color: #f9f9f9;
$primary-color: #FFCC00;
$primary-font-color: #222;*/



/* Theme 12  */

/*$canvas-color: #333333;
$canvas-font-color: #f9f9f9;
$primary-color: #EF597B;
$primary-font-color: #ffffff;*/



/* Theme 13  */

/*$canvas-color: #333333;
$canvas-font-color: #f9f9f9;
$primary-color: #73B66B;
$primary-font-color: #ffffff;*/



/* Theme 14  */

/*$canvas-color: #111111;
$canvas-font-color: #eeeeee;
$primary-color: #8A9875;
$primary-font-color: #ffffff;*/


/* Theme 15  */

/*$canvas-color: #111111;
$canvas-font-color: #f9f9f9;
$primary-color: #21B6A8;
$primary-font-color: #ffffff;*/
