- content_for :extra_buttons do
  button.btn.btn-default.float-right.hint-toggle-btn type="button"

.census-hint-wrapper style="display: none"
  .census-hint

.card.mb-1
  .card-header
    | Census Record
  .card-body
    .census-slider-wrapper
      .census-slider.hidden
        = form.input :owned_or_rented,
                as: :radio_buttons,
                collection: Census1940Record.owned_or_rented_choices,
                label: 'Home owned or rented',
                coded: true,
                hint: owned_or_rented_hint
        = form.input :home_value,
                label: 'Value of home or monthly payment',
                hint: home_value_hint
        = form.input :lives_on_farm,
                as: :boolean,
                label: 'Live on Farm?',
                inline_label: 'Yes',
                hint: lives_on_farm_hint

        = form.input :last_name,
                input_html: {autocomplete: 'new-password'},
                hint: name_hint

        = form.input :first_name,
                input_html: {autocomplete: 'new-password'},
                hint: name_hint

        = form.input :middle_name,
                input_html: {autocomplete: 'new-password'},
                hint: name_hint

        = form.input :name_prefix,
                input_html: {autocomplete: 'new-password'}

        = form.input :name_suffix,
                input_html: {autocomplete: 'new-password'}

        = form.input :relation_to_head,
                input_html: { autocomplete: 'new-password' },
                hint: relation_to_head_hint

        = form.input :sex,
                as: :radio_buttons,
                collection: CensusRecord.sex_choices,
                coded: true,
                hint: sex_hint

        = form.input :race,
                as: :radio_buttons_other,
                collection: Census1930Record.race_choices,
                coded: true,
                hint: race_hint

        = form.input :age,
                hint: age_hint

        = form.input :age_months,
                hint: age_hint

        = form.input :marital_status,
                as: :radio_buttons,
                collection: Census1930Record.marital_status_choices,
                coded: true,
                hint: marital_status_hint

        = form.input :attended_school,
                as: :boolean,
                label: 'Attended school or college?',
                inline_label: 'Yes',
                hint: attended_school_hint

        = form.input :grade_completed,
                collection: Census1940Record.grade_completed_choices,
                as: :radio_buttons,
                hint: grade_completed_hint

        = form.input :pob,
                input_html: { autocomplete: 'new-password' },
                hint: pob_1940_hint(15)

        = form.input :foreign_born,
                as: :boolean,
                label: 'This person is foreign born',
                inline_label: 'Yes',
                wrapper_html: { data: { dependents: 'true' } }

        = form.input :naturalized_alien,
                as: :radio_buttons,
                collection: Census1940Record.naturalized_alien_choices,
                coded: true,
                wrapper_html: { data: { depends_on: :foreign_born } },
                hint: citizenship_hint

        = form.input :residence_1935_town,
                input_html: { autocomplete: 'new-password' },
                hint: residence_1935_town_hint

        = form.input :residence_1935_county,
                input_html: { autocomplete: 'new-password' },
                hint: "Column 18. Enter as written."

        = form.input :residence_1935_state,
                input_html: { autocomplete: 'new-password' },
                hint: "Column 19. Enter as written."

        = form.input :residence_1935_farm,
                as: :boolean,
                inline_label: 'Yes',
                hint: "Column 20. Check if the response is yes."

        = form.input :private_work,
                as: :boolean,
                inline_label: 'Yes',
                hint: "Column 21. Check if the response is yes."

        = form.input :public_work,
                as: :boolean,
                inline_label: 'Yes',
                hint: "Column 22. Check if the response is yes."

        = form.input :seeking_work,
                as: :boolean,
                inline_label: 'Yes',
                hint: "Column 23. Check if the response is yes."

        = form.input :had_job,
                as: :boolean,
                inline_label: 'Yes',
                hint: "Column 24. Check if the response is yes."

        = form.input :no_work_reason,
                collection: Census1940Record.no_work_reason_choices,
                coded: true,
                as: :radio_buttons,
                hint: "Column 25. Check box that corresponds to the answer indicated."

        = form.input :private_hours_worked,
                as: :integer,
                hint: "Column 26. Enter as written."

        = form.input :unemployed_weeks,
                as: :integer,
                hint: "Column 27. Enter as written."

        = form.input :occupation,
                hint: 'Column 28. Enter as written. Enter "None" if empty',
                input_html: { autocomplete: 'new-password' }

        = form.input :industry,
                input_html: { autocomplete: 'new-password' },
                hint: 'Column 29. Enter as written.'

        = form.input :worker_class,
                collection: Census1940Record.worker_class_choices,
                coded: true,
                as: :radio_buttons,
                hint: 'Column 30. Check the box that corresponds to the answer indicated.'

        = form.input :occupation_code,
                input_html: {autocomplete: 'new-password'},
                hint: occupation_code_hint('F')

        = form.input :industry_code,
                input_html: {autocomplete: 'new-password'},
                hint: occupation_code_hint('F')

        = form.input :worker_class_code,
                input_html: {autocomplete: 'new-password'},
                hint: occupation_code_hint('F')

        = form.input :full_time_weeks,
                as: :integer,
                hint: 'Column 31. Enter as written.'

        = form.input :income,
                as: :integer,
                hint: 'Column 32. Enter as written.'

        = form.input :had_unearned_income,
                as: :boolean,
                inline_label: 'Yes',
                hint: 'Column 33. Check box if the response is yes.'

        = form.input :farm_schedule,
                label: 'Farm Number',
                hint: 'Column 34. Enter as written.'

.card.mb-1
  .card-header
    | Supplemental Record
  .card-body
    .census-slider-wrapper
      .census-slider.hidden
        = form.input :pob_father,
                input_html: { autocomplete: 'new-password' },
                hint: pob_1940_hint(36)

        = form.input :pob_mother,
                input_html: { autocomplete: 'new-password' },
                hint: pob_1940_hint(37)

        = form.input :mother_tongue,
                input_html: { autocomplete: 'new-password' },
                hint: 'Column 38. Enter as written.'

        = form.input :veteran,
                as: :boolean,
                label: 'Veteran or veteran-related?',
                inline_label: 'Yes',
                wrapper_html: { data: { dependents: 'true' } },
                hint: 'Column 39. Check box if the response is yes.'

        = form.input :veteran_dead,
                as: :boolean,
                inline_label: 'Yes',
                wrapper_html: { data: { dependents: 'true' } },
                hint: 'Column 40. Check box if the answer is yes.'

        = form.input :war_fought,
                label: 'What War?',
                as: :radio_buttons_other,
                collection: Census1940Record.war_fought_choices,
                coded: true,
                wrapper_html: { data: { depends_on: :veteran } },
                hint: 'Column 41. Check the box that corresponds to the answer indicated.'

        = form.input :soc_sec,
                as: :boolean,
                inline_label: 'Yes',
                hint: 'Column 42. Check box if the answer is yes.'

        = form.input :deductions,
                as: :boolean,
                inline_label: 'Yes',
                hint: 'Column 43. Check box if the answer is yes.'

        = form.input :deduction_rate,
                collection: Census1940Record.deduction_rate_choices,
                coded: true,
                as: :radio_buttons,
                hint: 'Column 44. Check the box that corresponds to the answer indicated.'

        = form.input :usual_profession,
                input_html: { autocomplete: 'new-password' },
                hint: 'Column 45. Enter as written.'

        = form.input :usual_industry,
                input_html: { autocomplete: 'new-password' },
                hint: 'Column 46. Enter as written.'

        = form.input :usual_worker_class,
                collection: Census1940Record.worker_class_choices,
                coded: true,
                as: :radio_buttons,
                hint: 'Column 47. Check the box that corresponds to the answer indicated.'

        = form.input :usual_occupation_code,
                input_html: { autocomplete: 'new-password' },
                hint: occupation_code_hint('J')

        = form.input :usual_industry_code,
                input_html: { autocomplete: 'new-password' },
                hint: occupation_code_hint('J')

        = form.input :usual_worker_class_code,
                input_html: { autocomplete: 'new-password' },
                hint: occupation_code_hint('J')

        = form.input :multi_marriage,
                as: :boolean,
                inline_label: 'Yes',
                hint: 'Column 48. Enter as written. Women only please!'

        = form.input :first_marriage_age,
                hint: 'Column 49. Enter as written. Women only please!'

        = form.input :children_born,
                hint: 'Column 50. Enter as written. Women only please!'
